{% extends 'base.html' %}
{% block title %}
    Sprawdź domenę
{% endblock title %}


{% block content %}
    <p>Logi domeny {{ name }}</p>
    <table class="table">
      <thead>
        <tr>
          <th>Data sprawdzenia</th>
          <th scope="col">Kod błędu</th>
          <th>Suma kontrolna</th>
        </tr>
      </thead>
      <tbody>
    {% for event in events %}
        {% if event.returnCode < 300 %}
            <tr bgcolor="#7fff00">
                <td>{{ event.time|date:'Y-m-d H:i:s' }}</td>
                <td>{{ event.returnCode}}</td>
                <td>{{ event.md5 }}</td>
            </tr>
        {% else %}
            <tr bgcolor="red">
                <td>{{ event.time |date:'Y-m-d H:i:s'}}</td>
                <td>{{ event.returnCode}}</td>
                <td>{{ event.md5 }}</td>
            </tr>
        {% endif %}
    {% endfor %}
      </tbody>
    </table>
     {% include "pagination.html" with page=events %}
{% endblock content %}

{% block scripts %}

{% endblock scripts %}