{% extends 'base.html' %}
{% block title %}
    Sprawdź domenę
{% endblock title %}


{% block content %}
    <p>Logi domeny {{ name }}</p>
    <table class="table">
      <thead>
        <tr>
          <th>Data sprawdzenia</th>
          <th scope="col">Kod błędu</th>
        </tr>
      </thead>
      <tbody>
    {% for event in events %}
        <tr>
          <td>{{ event.time }}</td>
          <td>{{ event.returnCode}}</td>
        {{ event.websiteId.name }}
        </tr>
    {% endfor %}
{% endblock content %}

{% block scripts %}

{% endblock scripts %}