{% extends 'base.html' %}
{% block title %}
    Nie działające strony
{% endblock title %}


{% block content %}
    <h1>Nie działające domeny</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Strona</th>
          <th scope="col">Adres URL</th>
          <th scope="col">Interwał sprawdzania</th>
          <th scope="col">Ostatni kod błędu</th>
          <th scope="col">Czas wystąpienia</th>
        </tr>
      </thead>
      <tbody>
    {% for site in Sites %}
        <tr>
            <td><a href="{% url 'MonitoringManager:websites-check' site.id%}" >{{ site.name }}</a></td>
          <td>{{ site.websiteId.urlAddress }}</td>
          <td>{{ site.websiteId.get_intervals_display }}</td>
          <td>{{ site.returnCode }}</td>
          <td>{{ site.time }}</td>
        </tr>
    {% endfor %}
{% endblock content %}

{% block scripts %}

{% endblock scripts %}